<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.composedemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComposeDemo"
        tools:targetApi="31">
        <activity
            android:name=".ui.activity.deeplink_demo.DeepLinkDemoActivity"
            android:exported="true"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.ComposeDemo" >
            <intent-filter>
                <data android:host="pl-coding.com"
                    android:scheme="https">

                </data>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <data android:host="pl-coding.com"
                    android:scheme="http">

                </data>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.event_handler.EventHandlerActivity"
            android:exported="false"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".ui.activity.snapping_demo.SnappingActivity"
            android:exported="false"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".ui.activity.shadow_demo.ShadowActivity"
            android:exported="false"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".ui.activity.derived_state_demo.BestPracticesActivity"
            android:exported="false"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".ui.activity.pull_refresh_demo.PullRefreshDemoActivity"
            android:exported="false"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".ui.activity.viewmode_string_demo.ToastActivity"
            android:exported="false"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".ui.activity.viewmode_string_demo.ViewModelStringDemoActivity"
            android:exported="false"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".ui.activity.pagination_demo.PaginationActivity"
            android:exported="false"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".ui.activity.delegates_demo.DelegateActivity"
            android:exported="false"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".ui.activity.animation.AnimationActivity"
            android:exported="false"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".ui.activity.chip_demo.ChipDemoActivity"
            android:exported="false"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".ui.activity.toggle_demo.ToggleDemoActivity"
            android:exported="false"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".ui.activity.hoisting_demo.HoistingDemoActivity"
            android:exported="false"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".ui.activity.constraintlayout_advance_demo.ConstraintLayoutAdvanceDemoActivity"
            android:exported="false"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".ui.activity.constraint_set_demo.ConstraintSetDemoActivity"
            android:exported="false"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".ui.activity.constraintlayout_demo.ConstraintLayoutDemoActivity"
            android:exported="false"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".ui.activity.tab_demo.TabDemoActivity"
            android:exported="false"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".ui.activity.box_demo.BoxDemoActivity"
            android:exported="false"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".ui.activity.button_demo.ButtonDemoActivity"
            android:exported="false"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".ui.activity.snackbar_demo.SnackbarDemoActivity"
            android:exported="false"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".ui.activity.navigation_drawer_demo.NavigationDrawerDemoActivity"
            android:exported="false"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".ui.activity.image_capture.ImageCaptureActivity"
            android:exported="false"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".ui.activity.image_picker.ImagePickerActivity"
            android:exported="false"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".ui.activity.dialog_demo.DialogDemoActivity"
            android:exported="false"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".ui.activity.checkbox_demo.CheckboxDemoActivity"
            android:exported="false"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".ui.activity.radio.RadioButtonDemoActivity"
            android:exported="false"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".ui.activity.bottomsheet_demo.BottomsheetDemoActivity"
            android:exported="false"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".ui.activity.bottombar_advance.BottombarDemAdvanceActivity"
            android:exported="false"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".ui.activity.bottombar.BottombarDemActivity"
            android:exported="false"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".ui.activity.navigation_voyager.VoyagerNavigationActivity"
            android:exported="false"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".ComposeActivity"
            android:exported="false"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".ui.activity.textviewdemo.TextViewDemoActivity"
            android:exported="false"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".ui.activity.navigation.NavigationActivity"
            android:exported="false"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="false"
            android:label="@string/title_activity_welcom"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".ui.activity.retrofit_demo.HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".ui.activity.edittextdemo.EditTextDemoActivity"
            android:exported="false" />
        <activity
            android:name=".DrawerActivity"
            android:exported="false"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.ComposeDemo" />

        <activity
            android:name=".ui.activity.ComposeDemoActivity"
            android:exported="true"
            android:label="@string/title_activity_compose"
            android:theme="@style/Theme.ComposeDemo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>